@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="searchController">
    <form>
        <div class="form-group">
            <label>Write something: </label>
            <input type="text" ng-model="filter.address" class="form-control"/>
            <span>{{filter.address}}</span>
        </div>
        <button type="button" class="btn btn-default" ng-click="search()">Submit</button>
    </form>
</div>

