
@{
    ViewBag.Title = "Search Page";
}


    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12 col-sm-4 col-md-4">

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputStreet" class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputStreet" placeholder="Street">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCity" placeholder="City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputZipCode" class="col-sm-2 control-label">Zip Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputZipCode" placeholder="Zip Code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputType1" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="radio1" checked="checked" id="inputType1"> Rent (Default)
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio1"> Sell
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="list-group">
                <img src="..." alt="..." class="img-thumbnail">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Item goes here...</p>
            </div>
        </div>
    </div>

