
/*==================Search Results Part====================*/
.Result-img-thumbnail {
    float:left;

}

.Result-List-Details {
    float:right;
}

.Search-Page {

}

.clear {
    clear:both;
}

.Result-Item {
    clear:both;
    padding-right:490px;
    margin:15px;
}

.clear {
    clear:both;
}

.Search-Results {
    border-style:dotted;
}

.pagination-navbar{
    position:center;
    margin-left:250px;
    margin-right:auto;
}

.Header_4{
    float:left;
}

.Paragraph_1{
    float:right;
}

/*
a[disabled="disabled_previous"] {
    pointer-events: none;

}

a[disabled="disabled_next"] {
    pointer-events: none;

}
*/